* { 
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/background.jpg");
    background-position: 70% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* doesn't work on mobile */
    z-index: -5;
}

/* login/signup page */
#login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-box {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 25px rgba(100, 100, 100);
    margin: 25px;
    padding: 10px 0;
}
#login-form {
    display: block;
}
#signup-form {
    display: none;
}
#login-box .input-div {
    width: 85%;
    margin: 10px auto 30px;
    display: grid;
    grid-template-columns: 7% 93%;
    padding: 5px 0;
    border-bottom: 2px solid white;
}
.input-div-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-div-icon i {
    font-size: 1.2em;
    color: rgb(190, 190, 190);
}
#login-box input {
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    background: transparent;
    margin-left: 7px;
}
#login-box ::placeholder {
    font-size: 18px;
    color: rgb(190, 190, 190);
}
#login-error-message, #signup-error-message {
    visibility: hidden;
    color: red;
    font-size: 16px;
    width: 85%;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    top: -20px;
}
#login-box button {
    width: 85%;
    margin: 0 7.5%;
    padding: 12px 0;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    outline: none;
    background: transparent;
    position: relative;
    top: -10px;
}
#login-box button:hover {
    background: rgb(150, 150, 150);
    transition: 0.25s;
}
.switch-action {
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: right;
    margin: 3px -7.5%;
}
.switch-action a {
    color: rgb(62, 184, 255);
    text-decoration: underline;
    cursor: pointer;
}

/* nav bar */
nav {
    display: flex;
    align-items: center;
    background: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 4px solid #ffffff;
    z-index: 10;
}
#page-label {
    font-size: 38px;
    color: #ffffff;
    line-height: 80px;
    padding: 0 25px;
    font-weight: bold;
}
nav ul {
    float: right;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 20px 25px;
    color: #ccc;
    font-size: 24px;
}
nav ul li:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
#logout-btn:hover {
    color: red;
}
.nav-check-btn {
    font-size: 38px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#nav-check {
    display: none;
}

/* home page */
#home-page {
    height: calc(100vh - 84px);
    width: 100%;
    position: relative;
    top: 84px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#home-btns-container {
    width: 100%;
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home-option-btn {
    background-color: rgba(230, 230, 230, 0.925);
    border-radius: 30px;
    border: none;
    outline: none;
    margin: 10px 50px;
    width: 248px;
    height: 112px;
    font-size: 30px;
    line-height: 40px;
}
.home-option-btn:hover {
    background-color: white;
    transition: 0.25s;
}

/* friends page */

/* settings page */
#settings-page {
    height: calc(100vh - 84px - 25px);
    width: 100%;
    position: relative;
    top: calc(84px + 25px);
}
#displayName-setting {
    margin: 0 0 25px 25px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
#displayName-setting-input {
    width: 350px;
    color: #ccc;
    font-size: 30px;
    border: none;
    outline: none;
    background: transparent;
}
#displayName-setting-input:focus {
    color: #ffffff;
}
#trackANDshare-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.setting-option {
    width: 350px;
    margin: 15px 0px 5px 25px;
}
.setting-option h4{
    margin: 5px;
    color: #ffffff;
    font-size: 22px;
}
.setting-option input {
    position: relative;
    margin: 5px;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #ccc;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.setting-option input:checked {
    background: #03a9f4;
}
.setting-option input:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.setting-option input:checked:before {
    left: 40px;
}
#save-settings-btn {
    background-color: rgba(230, 230, 230, 0.875);
    border-radius: 20px;
    border: none;
    outline: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 60px;
    font-size: 26px;
}
#save-settings-btn:hover {
    background-color: white;
    transition: 0.25s;
}

/* newRound Page */
#newRound-page {
    height: calc(100vh - 84px);
    width: 100%;
    position: relative;
    top: 84px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#Q1, #Q2, #Q3, #Q4, #Q5 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#newRound-page h1 {
    width: 100%;
    height: 65px;
    margin: 0 0 0 25px;
    color: white;
    text-decoration: underline;
    font-size: 43px;
}
.question {
    height: calc(100% - 65px - 25px);
    width: 100%;
    display: none;
}
#newRound-page h2 {
    width: 100%;
    height: 74px;
    margin: 0 25px 15px 25px;
    text-align: center;
    color: white;
    font-size: 29px;
    position: relative;
    top: 2.5%;
    line-height: 140%;
}
#Q1 h3, #Q2 h3 {
    width: 100%;
    margin: 0 25px 10px 25px;
    text-align: center;
    color: white;
    font-size: 30px;
}
#Q1 form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -5%;
}
#Q1 input {
    display: none;
}
#Q1 label {
    height: 70px;
    width: 70px;
    letter-spacing: -3px;
    color: white;
    font-size: 38px;
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 20%;
    outline: none;
    margin: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Q1 input:checked + label {
    color: rgb(190, 190, 190);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
    background-color: white;
}
#par-question{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#score-question {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: -10%;
}
#submit-score-btn {
    height: 60px;
    width: 85px;
    font-size: 30px;
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    border: none;
    outline: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#submit-score-btn:hover {
    background-color: white;
    transition: 0.25s;
}
#Q2 {
    position: relative;
    top: -11%;
}
.putt-btn {
    height: 70px;
    width: 70px;
    color: white;
    font-size: 38px;
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 20%;
    outline: none;
    margin: 15px 20px;
    position: relative;
    top: -36%;
}
.putt-btn:hover {
    color: rgb(190, 190, 190);
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.question-btns {
    height: calc(100% - 74px - 15px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.check-btn, .X-btn {
    margin: 0 60px;
    height: 175px;
    width: 175px;
}
#newRound-error-full, #track-error-full, #nine-hole-message, #round-end-message {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#newRound-error, #track-error {
    text-align: center;
    margin: 25px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.85);
    border: 4px solid white;
    color: red;
    font-size: 28px;
}
#nine-hole-message-content {
    text-align: center;
    margin: 25px;
    padding: 15px 15px 0 15px;
    background-color: rgb(50, 50, 50);
    border: 4px solid yellow;
    color: white;
    font-size: 28px;
}
.nine-hole-message-btn {
    height: 40px;
    width: 60px;
    margin: 15px 25px;
    color: white;
    font-size: 20px;
    background: rgb(115, 115, 115);
    border: 2px solid white;
}
.nine-hole-message-btn:hover {
    color: rgb(115, 115, 115);
    background-color: white;
    font-weight: bold;
    transition: 0.25s;
}
#round-end-message-content {
    text-align: center;
    margin: 25px;
    padding: 15px;
    background-color: rgb(50, 50, 50);
    border: 4px solid green;
    color: white;
    font-size: 28px;
}
#round-end-message-content a {
    color: rgb(48, 118, 223);
    text-decoration: underline;
}
#round-end-message-content a:hover {
    cursor: pointer;
}

/* stats page */
#stats-page {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
#stats-container {
    width: 965px;
    height: 400px;
    margin: 25px;
    border: 4px solid white;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 25px rgba(100, 100, 100);
}
#stats-tab-btns {
    position: relative;
    top: -48px;
    left: -4px;
}
.stats-tab {
    float: left;
    margin-right: 7px;
    color: white;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    border: 3px solid white;
    border-radius: 12px 12px 0 0;
    outline: none;
    cursor: pointer;
}
#prev-rnd-tab {
    background-color: white;
    color: black;
}
.stats-content {
    width: 100%;
    height: 100%;
    position: relative;
    top: -48px;
}
#prev-rnd-content {
    display: flex;
}
#lifetime-content {
    display: none;
}
#friends-stats-content {
    display: none;
}
.stats-btns-container {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.stat-btn {
    background: transparent;
    color: white;
    font-size: 16px;
    margin: 20px 10px 0;
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}
.stat-btn:hover, .stat-btn:focus {
    background: rgb(150, 150, 150);
    transition: 0.25s;
}
.stats-dropdown {
    position: relative;
    display: inline-block;
}
.stats-dropdown-content {
    display: none;
    position: absolute;
    left: 10px;
    width: 135px;
    overflow: auto;
    z-index: 2;
}
.stats-dropdown-content a {
    display: block;
    color: white;
    font-size: 16px;
    margin: 3px 0;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    border-radius: 12px;
    border: 2px solid white;
    outline: none;
}
.stats-dropdown-content a:hover {
    cursor: pointer;
    background: rgb(150, 150, 150);
    transition: 0.25s;
}
#stats-container .show {
    display: block;
}
.stat-info {
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
}
.stat-info h1 {
    color: white;
    font-size: 26px;
    text-align: center;
}
.percentageWheel {
    width: 100%;
    height: 70%;
    text-align: center;
    position: absolute;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.percentageWheel .round {
    position: relative;
    border-radius: 50%;
}
.percentageWheel-text {
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
}
#currentPercentageWheel-text, #lifetimePercentageWheel-text {
    font-size: 22px;
}

/* Mobile Changes */
@media (max-width: 850px) {
    /* Credit: https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile */
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background-image: url("assets/background.jpg");
        background-position: 70% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
      }
    .nav-check-btn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.95);
        top: 84px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        border: 2px solid #ccc;
        font-size: 25px;
        line-height: 50px;
        margin: 50px 25px;
        border-radius: 10px;
    }
    nav ul li:hover {
        background-color: rgba(150,150,150, 0.4);
        color: white;
    }
    #logout-btn {
        color: red;
        border-color: red;
    }
    #logout-btn:hover {
        background-color: rgba(255, 0, 0, 0.75);
        color: white;
    }
    #nav-check:checked ~ ul {
        left: 0;
    }
    #home-btns-container {
        position: relative;
        top: -21%;
    }
    #stats-container {
        height: 60%;
        position: relative;
        top: 5%;
    }
    .stat-btn {
        font-size: 13.5px;
        margin: 20px 5px 0 5px;
        padding: 8px;
    }
    .stats-dropdown-content {
        left: 5px;
    }
    .stats-dropdown-content a {
        font-size: 13.5px;
        width: 95px
    }
}

/* Small device fixs */
@media (max-height: 640px) {
    #page-label {
        font-size: 36px;
    }
    nav ul li {
        line-height: 45px;
        margin: 40px 25px;
    }
    .home-option-btn {
        margin: 20px 50px;
        width: 200px;
        height: 100px;
        font-size: 26px;
        line-height: 30px;
    }
    .setting-option h4{
        font-size: 20px;
    }
    .check-btn, .X-btn {
        height: 120px;
        width: 120px;
        position: relative;
        top: -25px;
    }
    #newRound-page h1 {
        height: 40px;
        font-size: 30px;
    }
    #newRound-page h2 {
        height: 50px;
        font-size: 22px;
        position: relative;
        top: -25px;
    }
    #Q1 h3 {
        font-size: 24px;
    }
    #Q1 label, .putt-btn {
        height: 50px;
        width: 50px;
        margin: 0 22px 5% 22px;
        font-size: 23px;
    }
    #submit-score-btn {
        height: 45px;
        width: 65px;
        font-size: 24px;
    }
    #stats-container {
        height: 55%;
        position: relative;
        top: 5%;
    }
    .stats-tab {
        font-size: 13px;
    }
    #stats-tab-btns {   
        top: -41px;
    }
    .stat-btn {
        font-size: 11px;
        margin: 15px 2px 0 2px;
        padding: 5px;
    }
    .stats-dropdown-content {
        left: 2px;
    }
    .stats-dropdown-content a {
        font-size: 11px;
        width: 80px;
    }
    .stat-info {
        top: 36%;
    }
    .stat-info h1 {
        font-size: 20px;
    }
    .percentageWheel {
        height: 70%;
        top: 40%;
    }
    .percentageWheel-text {
        font-size: 24px;
    }
    #currentPercentageWheel-text, #lifetimePercentageWheel-text {
        font-size: 16px;
    }
}

/* Initially hide every page, except for login */
#navbar, #home-page, #friends-page, #settings-page, #newRound-page, #stats-page {
    display: none;
}